/* work sans font from google*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;600;700&display=swap');

/* shared Styles */
*{
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background-color: #ff900e;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* header style */

header {
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
}


/* main style*/

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}

.teams-title span:first-child {
    color: #000000;
    font-weight: 700;
}

.teams-title span:last-child {
    color: #ff900e;
    font-weight: 700;
}

/* facts section */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}











/* responsive style */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container  {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding: 0 20px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}